$roboto: 'Roboto', sans-serif;

%button {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 43px;
  letter-spacing: 1.1px;
  border: 1px solid #044f75;
  background-color: #fff;
  color: #000;
  font-family: "PT Serif";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 300ms;
  cursor: pointer;
  &:hover {
    background-color: #044f75;
    color: #fff;
  }
}

%button--gold{
  border-color: #d8ba50;
  &:hover {
    background-color: #d8ba50;
    color: #000;
  }
}