@font-face {
    font-family: 'AngleciaProDisplay';
    src: url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.eot');
    src: url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.woff2') format('woff2'),
         url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.woff') format('woff'),
         url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.ttf') format('truetype'),
         url('/_fonts/AngleciaProDisplay/AngleciaProDisplay-Regular-webfont.svg#anglecia_pro_dspregular') format('svg');
    font-weight: normal;
    font-style: normal;

}