.wrapperNewsDetail {
  .title {
    background: #ffffff;
    h1 {
      text-transform: none;
      font-size: 30px;
      text-align: left;
      line-height: 38px;
      margin-left: 28px;
      padding-top: 23px;
      max-width: 80%;
    }
    .date {
      position: absolute;
      top: 27px;
      right: 37px;
      font-size: 12px;
    }
    .breadCrumbs {
      margin-left: 28px;
      padding-bottom: 42px;
    }
  }
  img.detailPicture {
    width: 100%;
  }
  .textNews {
    text-align: left;
    padding-left: 82px;
    padding-right: 170px;
    font-size: 15px;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 56px;
  }
  .line {
    margin-bottom: 29px;
    border-radius: 1px;
    height: 3px;
    background: #0c7c99;
  }
  .text {
    font-size: 20px;
    line-height: 30px;
    width: 940px;
  }
  .smallImg {
    width: 980px;
    margin-bottom: 20px;
    .smallImgElem {
      display: block;
      cursor: pointer;
      margin-right: 19px;
      margin-bottom: 19px;
      width: 230px;
      &:nth-child(4n) {
        margin-right: 0px;
      }
    }
  }
  .detailSlider {
    width: 980px;
    height: 980px;
    overflow: hidden;
    .detailSliderElement {
      display: table;
      width: 980px;
      height: 980px;
      .detailSliderInner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .owl-stage-outer {
      width: 980px;
      height: 980px;
    }
  }
}

.wrapperNews {
  h1 {
    text-transform: none;
    font-size: 42px;
    text-align: left;
    line-height: 54px;
    margin-top: 30px;
    margin-bottom: 23px;
  }
  .news {
    margin-bottom: 37px;
    .forImg {
      display: inline-block;
      width: 156px;
      height: 156px;
      margin-right: 15px;
      text-align: center;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .textNews {
      display: inline-block;
      width: 560px;
      margin-top: -6px;
      text-align: left;

      .text {
        margin-top: 5px;
        font-size: 15px;
        line-height: 22px;
      }
      a {
        font-size: 20px;
        line-height: 24px;
      }

      .date {
        text-align: left;
        font-size: 12px;
        line-height: 26px;
        margin-top: 0px;
      }
    }
  }
}

.pages {
  font-size: 12px;
  line-height: 20px;
  margin-top: 60px;
  word-spacing: 10px;
  &.pagesTop {
    position: relative;
    top: -24px;
  }
  .navigation {
    margin-top: 0;
  }
  a {
    color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    margin-right: 0px;
    &:hover {
      color: #c67724;
      border-bottom: 1px solid rgba(198, 119, 36, 0.4);
      text-decoration: none;
    }
  }
  p {
    color: #AAAAAA;
  }
  span {
    color: #4287A7;
  }
}

.wrapperContacts {
  h1 {
    text-transform: none;
    font-size: 48px;
    text-align: left;
    line-height: 54px;
    margin-left: 80px;
  }
  .contacts {
    margin-top: 28px;
    margin-bottom: 45px;
    .adress {
      display: inline-block;
      width: 325px;
      font-size: 15px;
      line-height: 24px;
      margin-left: 80px;
    }
    .email {
      display: inline-block;
      width: 200px;
      font-size: 15px;
      line-height: 24px;
      margin-left: 71px;
    }
    .timwWork {
      display: inline-block;
      width: 120px;
      font-size: 15px;
      line-height: 24px;
      margin-left: 65px;
      b {
        font-weight: bold;
      }
    }
  }
}

.wrapperCatalog {
  h1 {
    text-transform: none;
    font-size: 48px;
    text-align: left;
    line-height: 54px;
    margin-top: 53px;
    margin-bottom: 7px;
  }
  .breadCrumbs {
    padding-bottom: 42px;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 50px;
    width: 720px;
  }
  .block {
    width: 480px;
    height: 480px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    a.fullImage, a.halfImage {
      display: block;
      background-position: center;
      background-size: cover;
    }
    a.fullImage {
      width: 480px;
      height: 480px;
    }
    a.halfImage {
      display: block;
      width: 230px;
      height: 230px;
      position: absolute;
    }
    &.fourImg {
      .slick-slider {
        width: 230px;
        height: 230px;
        margin-bottom: 20px;
        margin-right: 20px;
        float: left;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }
    &.fourImg.z {
      .slick-slider {
        &:nth-of-type(2n) {
          margin-right: 20px;
        }
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }
  .zayavka {
    margin-bottom: 20px;
    width: 480px;
    height: 230px;
    background: transparent url(/_img/style/zayavka.jpg) 0 0 no-repeat;
    text-align: center;
    .bigButton {
      color: #ffffff;
      border-color: #ffffff;
      margin-top: 50px;
      padding: 17px 53px;
      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
    .text {
      margin-top: 23px;
      color: #ffffff;
      text-align: center;
      p {
        display: inline-block;
        width: 400px;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

.wrapperPartners {
  text-align: center;
  h1 {
    text-transform: none;
    font-size: 42px;
    text-align: left;
    line-height: 54px;
    margin-top: 53px;
    margin-bottom: 40px;
    margin-left: 85px;
  }
  .boxes {
    margin-left: 85px;

    .box {
      width: 146px;
      height: 146px;
      float: left;
      border: 1px solid #e9c47d;

    }
    .box p {
      text-align: center;
      color: #e9c47d;
      padding-top: 35%;
      font-size: 72px;
      line-height: 36px;
    }
    .box:nth-child(2) {
      margin: 0 185px;
    }
  }
  .box2 {
    width: 315px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .box2 p {
    text-align: center;
  }
  .box2:nth-child(2) {
    margin-top: 30px;
    margin-left: 17px;
    margin-right: 18px;
  }
  .bigButton {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.wrapper404 {
  .block {
    margin-bottom: 25px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .text404 {
    width: 370px;
    display: inline-block;
    margin-left: 60px;
    margin-top: 60px;
    h1 {
      font-size: 150px;
      line-height: 108px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
  }
  .text {
    margin-top: 30px;
  }
}

.wrapperCabinet {
  .content {
    h1 {
      text-transform: none;
      font-size: 42px;
      text-align: left;
      line-height: 54px;

    }
    .blocks {
      margin-top: 40px;
      .block:nth-child(2) {
        table tr td:nth-child(2) {
          color: #444444;
        }
      }
      .block {
        position: relative;
        margin-bottom: 0px;
        width: 480px;
        height: 380px;
        float: left;
        background: #ffffff;
        p {
          text-align: center;
          margin-top: 25px;
          font-size: 22px;
          line-height: 36px;
        }
        .table1 {
          margin-top: 13px;
          width: 90%;
          text-align: left;
          margin-left: 5%;
          tr {
            transition: all .15s ease;
            &:hover {
              cursor: pointer;
              background-color: #EDEEE7;
            }
            td {
              font-size: 15px;
              line-height: 34px;
              padding-bottom: 1px;
              border-bottom: 1px solid #e5e5e5;
              color: #888888;
            }
            td:nth-child(1) {
              width: 88px;
              padding-left: 2px;
            }
            td:nth-child(2) {
              width: 239px;
              padding-left: 0px;
            }
          }
          tr:last-child {
            td {
              border-bottom: none;
            }
          }
        }
        .table2 {
          margin-top: 13px;
          width: 90%;
          text-align: left;
          margin-left: 5%;

          tr {
            td {
              font-size: 15px;
              line-height: 34px;
              padding-bottom: 1px;
              border-bottom: 1px solid #e5e5e5;
              color: #888888;
              div {
                width: 265px;
                white-space: nowrap; /* Запрещаем перенос строк */
                overflow: hidden; /* Обрезаем все, что не помещается в область */
                text-overflow: ellipsis; /* Добавляем многоточие */
              }
            }

            td:nth-child(1) {
              width: 161px;
              padding-left: 2px;
            }

          }
          tr:last-child {
            td {
              border-bottom: none;
            }
          }
        }

        .bigButton {

          font-size: 14px;
          line-height: 30px;
        }
        .but1 {
          padding: 11px 44px;
          position: absolute;
          bottom: 46px;
          left: 116px;
        }
        .but2 {
          padding: 11px 37px;
          position: absolute;
          bottom: 46px;
          left: 126px;
        }

      }
      .block:nth-child(1) {
        float: left;
      }
      .block:nth-child(1) table {
        margin-bottom: 70px;
      }
      .block:nth-child(2) table {
        margin-bottom: 28px;
      }
      .block:nth-child(2) {
        float: right;
      }
    }
    .orderInfo {
      font-size: 20px;
      margin-top: 45px;
      margin-bottom: 18px;
      span {
        margin-right: 43px;
        &.dashed {
          border-bottom: 1px dashed #000;
        }
      }
    }
  }
}

.wrapperMedia {
  h1 {
    text-transform: none;
    font-size: 48px;
    text-align: left;
    line-height: 54px;
    margin-top: 53px;
    margin-bottom: 38px;
  }
  .mediaElementWrapper {
    margin-top: 36px;
    .mediaElement {
      float: left;
      width: 314px;
      height: 271px;
      margin-right: 19px;
      margin-bottom: 31px;
      &:nth-child(3n) {
        margin-right: 0px;
      }
      .mediaElementImg {
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 0 0;
        height: 212px;
        width: 314px;
        margin-bottom: 15px;
        display: block;
      }
      .mediaElementTitle {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
}

.wrapperVideo {
  h1 {
    text-transform: none;
    font-size: 48px;
    text-align: left;
    line-height: 54px;
    margin-top: 53px;
    margin-bottom: 38px;
  }
  .breadCrumbs {
    position: relative;
    top: -31px;
  }
  .videoElementWrapper {
    margin-top: 36px;
    .videoElement {
      float: left;
      width: 314px;
      height: 271px;
      margin-right: 19px;
      margin-bottom: 31px;
      &:nth-child(3n) {
        margin-right: 0px;
      }
      .videoElementImg {
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        height: 212px;
        width: 314px;
        margin-bottom: 14px;
        display: block;
        &.withPlayButton {
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .3) url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY5IiB3aWR0aD0iNjkiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OSA2OSI+CiAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDM0LjUgMCBDIDUzLjU1IDAgNjkgMTUuNDUgNjkgMzQuNSBDIDY5IDUzLjU1IDUzLjU1IDY5IDM0LjUgNjkgQyAxNS40NSA2OSAwIDUzLjU1IDAgMzQuNSBDIDAgMTUuNDUgMTUuNDUgMCAzNC41IDAgWiIgLz4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTSA0NS4wMSAzMy45MSBDIDQ1LjAxIDMzLjkxIDMwLjkgMjQuMjggMzAuOSAyNC4yOCBDIDMwLjQ4IDI0LjAxIDI5Ljk2IDI0LjA1IDI5LjU3IDI0LjA1IEMgMjggMjQuMDUgMjguMDEgMjUuMzYgMjguMDEgMjUuNjkgQyAyOC4wMSAyNS42OSAyOC4wMSA0NS4zNyAyOC4wMSA0NS4zNyBDIDI4LjAxIDQ1LjY1IDI4IDQ3LjAxIDI5LjU3IDQ3LjAxIEMgMjkuOTYgNDcuMDEgMzAuNDggNDcuMDYgMzAuOSA0Ni43OSBDIDMwLjkgNDYuNzkgNDUuMDEgMzcuMTYgNDUuMDEgMzcuMTYgQyA0Ni4xNyAzNi40MSA0NS45NyAzNS41MyA0NS45NyAzNS41MyBDIDQ1Ljk3IDM1LjUzIDQ2LjE3IDM0LjY1IDQ1LjAxIDMzLjkxIFoiIC8+Cjwvc3ZnPg==) center no-repeat;
            transition: .2s ease;
          }
          &:hover {
            &:before {
              background-color: rgba(0, 0, 0, .0);
            }
          }
        }
      }
      .videoElementTitle {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  .showVideo {
    float: left;
    width: 980px;
    height: 550px;
    position: relative;
    margin-bottom: 29px;
    #forPlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3) url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY5IiB3aWR0aD0iNjkiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OSA2OSI+CiAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZT0iI2ZmZmZmZiIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDM0LjUgMCBDIDUzLjU1IDAgNjkgMTUuNDUgNjkgMzQuNSBDIDY5IDUzLjU1IDUzLjU1IDY5IDM0LjUgNjkgQyAxNS40NSA2OSAwIDUzLjU1IDAgMzQuNSBDIDAgMTUuNDUgMTUuNDUgMCAzNC41IDAgWiIgLz4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTSA0NS4wMSAzMy45MSBDIDQ1LjAxIDMzLjkxIDMwLjkgMjQuMjggMzAuOSAyNC4yOCBDIDMwLjQ4IDI0LjAxIDI5Ljk2IDI0LjA1IDI5LjU3IDI0LjA1IEMgMjggMjQuMDUgMjguMDEgMjUuMzYgMjguMDEgMjUuNjkgQyAyOC4wMSAyNS42OSAyOC4wMSA0NS4zNyAyOC4wMSA0NS4zNyBDIDI4LjAxIDQ1LjY1IDI4IDQ3LjAxIDI5LjU3IDQ3LjAxIEMgMjkuOTYgNDcuMDEgMzAuNDggNDcuMDYgMzAuOSA0Ni43OSBDIDMwLjkgNDYuNzkgNDUuMDEgMzcuMTYgNDUuMDEgMzcuMTYgQyA0Ni4xNyAzNi40MSA0NS45NyAzNS41MyA0NS45NyAzNS41MyBDIDQ1Ljk3IDM1LjUzIDQ2LjE3IDM0LjY1IDQ1LjAxIDMzLjkxIFoiIC8+Cjwvc3ZnPg==) center no-repeat;
        transition: .2s ease;
      }
      &:hover {
        &:before {
          background-color: rgba(0, 0, 0, 0);
          box-shadow: inset 0 89px 73px -27px rgba(0, 0, 0, 0.5);
        }
      }
      .title {
        position: absolute;
        top: 20px;
        left: 24px;
        width: 94%;
        margin: 0;
        color: #FFF;
        font-family: 'AngleciaProDisplay';
        font-size: 24px;
        line-height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.wrapperPhoto {
  h1 {
    text-transform: none;
    font-size: 48px;
    text-align: left;
    line-height: 54px;
    margin-top: 53px;
    margin-bottom: 38px;
  }
  .breadCrumbs {
    position: relative;
    top: -31px;
  }
  #back {
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
  }
  .photoElementWrapper {
    margin-top: 23px;
    .photoElement {
      float: left;
      width: 230px;
      //height: 150px;
      margin-right: 19px;
      margin-bottom: 22px;
      &:nth-child(4n) {
        margin-right: 0px;
      }
      .photoElementImg {
        //height: 150px;
        //width: 230px;
        //margin-bottom: 15px;
        display: block;
        img {
          //width: 100%;
          //height: 100%;
          width: 100%;
          //object-fit: cover;
        }
      }
    }
  }
}

.wrapperManager {
  .manager_cabinet {
    width: 980px;
    .no_active {
      color: red;
    }
    tr {
      border-bottom: 1px solid #999;
      td {
        pagging-right: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
}

.breadCrumbs {
  font-size: 11px;
  display: flex;
  flex-wrap: unset;
  padding: unset;
  margin-bottom: unset;
  list-style: none;
  background-color: unset;
  border-radius: unset;
  span {
    color: #6b6b6b;
    margin-left: 6px;
    margin-right: 6px;
  }
  a {
    color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    margin-right: 0px;
    &:hover {
      color: #c67724;
      border-bottom: 1px solid rgba(198, 119, 36, 0.4);
      text-decoration: none;

    }
  }
}

.navigation {
  font-size: 13px;
  line-height: 20px;
  margin-top: 60px;
  word-spacing: 10px;
  ul {
    .fix {
      color: #000;
    }
    .subactive {

    }
    li {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
}

.footer-nav, .content {
  li {
    margin-bottom: 16px;
    //text-decoration: underline;
    list-style: none;
    a {
      color: #0f3d7f;
      text-decoration: none;
    }
  }
}

.newBTN {
  display: inline-block;
  border: 1px solid #d8ba4f;
  padding: 18px 40px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 20px;
  transition: 0.4s ease;
}

.makee {
  left: 37%;
  &:hover {
    background-color: #0f3d7f;
    color: #fff;
    border-color: transparent;
  }
}

.clearr {
  left: 35%;
  &:hover {
    background-color: #d8ba4f;
    color: #fff;
  }
}

.backk {
  &:hover {
    background-color: #d8ba4f;
    color: #fff;

  }

}

.make-order {
  float: right;
  color: #000;
  border: 1px solid #407cc4;
  &:hover {
    background-color: #0f3d7f;
    color: #fff;
    border-color: transparent;
  }

}

.errortext {
  color: red;
}

.makeee {
  left: 80.6%;
}

.back-history {
  &:hover {
    background-color: #d8ba4f;
    color: #fff;
  }
}

.data-user {
  display: flex;
  flex-direction: column;
  &__block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__label {
    min-width: 200px;
    margin-right: 50px;
    font-family: PT Serif, serif;
    font-size: 15px;
  }
  &__input {
    padding: 0 10px!important;
    width: 100%;
    height: 40px!important;
    background: transparent;
    border: 1px solid #2ec3c1;
    font-family: PT Serif, serif;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px!important;
    &--delivery {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__select {
    width: 100%;
    .jq-selectbox {
      &__select {
        padding: 0 36px 0 10px;
        height: 40px;
        line-height: 38px;
      }
      &__dropdown {
        top: 40px!important;
        li {
          margin-bottom: 0;
        }
      }
    }
  }
  &__textarea {
    padding: 10px;
    width: 100%;
    min-height: 55px;
    background: transparent;
    border: 1px solid #2ec3c1;
    font-family: PT Serif, serif;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    overflow: hidden;
  }
}

.promotion {
  &__winners {
    margin-top: 25px;
  }
  &__winner {
    &-title {
      font-size: 20px;
      line-height: 20px;
      color: #58338E;
    }
    &-prize {
      font-size: 13px;
      line-height: 152%;
      color: #444444;
      margin-top: 6px;
    }
    margin: 20px 0;
  }
  &__video {
      width: 100%;
      height: auto;
      cursor: pointer;
      margin-bottom: 20px;
  }
  &__button {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 226px;
      border: 2px solid #0D6393;
      box-sizing: border-box;
      transition: all .2s ease-in;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;
      line-height: 46px;

      &:hover {
          background-color: #0D6393;
          color: white;
      }

      &.--end {
          margin-top: 25px;
      }
  }
}

.warning {
    font-size: 13px;
    line-height: 152%;
    color: #444;
    margin: 30px 0;
    display: flex;
    align-items: center;

    &:before {
        content: '';
        display: block;
        height: 26px;
        width: 26px;
        margin-right: 10px;
        background: {
            image: url('/_img/promotion/warning.png');
            size: contain;
            repeat: no-repeat;
            position: center;
        }
    }

    a {
        color: #58338E;
        padding: 0 4px;
    }

}

.headerTitle {
  cursor: default !important;
}
